<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_adminheaderlink'); %>
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin app-header -->
            <%- include('./partials/_adminheader'); %>
            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-nabar -->
                <%- include('./partials/_adminnav'); %>
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Form Kategori SHP</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html">
                                                        <i class="ti ti-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Forms
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">
                                                    Kategori SHP</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Tambah Kategori</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form action="/auth/_admin" method="POST">
                                            <div class="form-group">
                                                <label for="Kategori">Tambah Kategori Baru</label>
                                                <input type="text" class="form-control" id="Kategori"
                                                    placeholder="Mis. Penutupan Lahan" name="kategori"
                                                    required="required">
                                                <small id="emailHelp" class="form-text text-muted">Kategori digunakan
                                                    untuk mengelompokan SHP di legenda.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="deskripsi">Deskripsi (Opsional)</label>
                                                <input type="text" class="form-control" id="deskripsi"
                                                    placeholder="Mis. data ini bersifat indikatif" name="deskripsi">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add
                                                <i class="lni lni-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Kategori SHP</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="tableedit"
                                                class="table display responsive nowrap table-light table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Kategori</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%
                                                    if(kategori.length!=0){
                                                    var i=1;
                                                    kategori.forEach(function(data){
                                                    %>
                                                    <tr>
                                                        <td>
                                                            <%=data.kategori %>
                                                            <br>
                                                            <span
                                                                style="font-size: 12px;font-style: italic;color:rgba(0, 0, 0, 0.816)"><%=data.deskripsi %></span>
                                                        </td>
                                                        <td style="width:50px">
                                                            <a id="<%=data.id%>" href="/auth/editKat/<%= data.id %>"
                                                                class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i
                                                                    style="font-size: 14px;padding:0px"
                                                                    class=" lni lni-pencil"></i></a>
                                                        </td>
                                                        <td style="width:50px">
                                                            <a id="<%=data.id%>"
                                                                class="btn btn-icon btn-outline-danger btn-round"
                                                                onclick="alertDelete(this)"><i style="font-size: 14px;"
                                                                    class="lni lni-close"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <%  i++; }) %>
                                                    <% } else { %>
                                                    <tr>
                                                        <td colspan="4">Belum ada kategori</td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModal"
                aria-modal="true" style="padding-right: 17px; background-color: #00000080;">
                <div class="modal-dialog" role="document">
                    <form action="">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Konfirmasi Tindakan</h5>
                                <button type="button" class="close" onclick="closeModal()" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="inputZip">
                                    <strong>Ketik ulang
                                    </strong>tulisan di bawah ini :</label>
                                <p id="konfirmText2">ppi compact</p>
                                <input type="text" id="confirm" class="form-control">
                                <p class="wrongconfirm" id="konfirmText" style="display: none;">Maaf, konfirmasi text
                                    tidak sesuai sesuai......</p>
                                <input id="sID" type="text" value="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="closeModal()" class="btn btn-danger"
                                    data-dismiss="modal">Close</button>
                                <button type="button" id="btn-sub-confirm" onclick="return OkeDelete()"
                                    class="btn btn-success">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('./partials/_adminfooter'); %>
        </div>
    </div>

    <script>
        // delete confirmation modal
        let modal = document.getElementById('defaultModal')
        // delete submit button
        let btnConfirm = document.getElementById('btn-sub-confirm')
        // retype confirmation
        let wrong = document.getElementById('konfirmText')
        // input confirmation text
        let input = document.getElementById('confirm')
        // table edit & delete
        let tbleDel = document.getElementById('tableedit')
        // id bucket
        let sn = ''

        function alertDelete(elem) {
            for (let i = 1; i < tbleDel.rows.length; i++) {
                let x = tbleDel.rows[i].cells[2]
                let selector = x.querySelector("a")
                switch (elem.getAttribute('id')) {
                    case selector.getAttribute('id'):
                        sn = selector.getAttribute('id')
                        modal.style.display = 'block'
                        break;
                }
            }
        }

        function closeModal() {
            modal.style.display = 'none'
        }

        function OkeDelete() {
            if (input.value != 'ppi compact' || input.value === '') {
                wrong.style.display = 'block'
            } else {
                window.location = '/auth/delete/' + sn
            }
        }
    </script>
</body>

</html>