<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_adminheaderlink'); %>
</head>
<style>
    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <%- include('./partials/_adminheader'); %>
            <div class="app-container">
                <%- include('./partials/_adminnav'); %>
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Detail Indikator PPI</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Pages
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">
                                                    Clients</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-statistics clients-contant">
                                    <div class="card-body">
                                        <form action="/auth/_detailIndikator/" method="POST">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <input type="hidden" class="form-control" id="id_katppi"
                                                        name="id_katppi" value="">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="hidden" class="form-control" id="kat_ppi"
                                                        name="kat_ppi" value="">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="indikator">Rincian</label>
                                                    <input type="text" class="form-control" id="rincian"
                                                        placeholder="Mis. Penurunan Laju Deforestasi" name="rincian"
                                                        required="required">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="indikator">Data Dasar</label>
                                                    <input type="text" class="form-control" id="datadasar"
                                                        placeholder="" name="datadasar" required="required">

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="indikator">Indikator Capaian 2025</label>
                                                    <input type="text" class="form-control" id="indikatorcapaian2025"
                                                        placeholder="" name="indikatorcapaian2025" required="required"
                                                        value=0>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="indikator">Satuan</label>
                                                    <input type="text" class="form-control" id="satuan" placeholder=""
                                                        name="satuan" required="required">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add
                                                <i class="lni lni-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="card-body py-0 table-responsive">
                                        <table id="LoiTable" class="table clients-contant-table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Kategori PPI</th>
                                                    <th scope="col">Detail Indikator</th>
                                                    <th scope="col">Data Dasar</th>
                                                    <th scope="col">Capaian</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                    <th scope="col">Update Capaian</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(detailkomponenppi.length!=0){
                                                 let i=1;
                                                 detailkomponenppi.forEach(function(data){ %>
                                                <tr>
                                                    <td class="counterCell"></td>
                                                    <td>
                                                        <%=data.ppi %>
                                                    </td>
                                                    <td>
                                                        <%=data.rincian %>
                                                    </td>
                                                    <td>
                                                        <%=data.data_dasar + ' '+ data.satuan%>
                                                    </td>
                                                    <td>
                                                        <%=data.indikator_capaian_2025 + ' '+ data.satuan%>
                                                    </td>

                                                    <td>
                                                        <a href="/auth/editLoi/<%=data.id_detail_kat_ppi%>"
                                                            class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 ">
                                                            <i class=" lni lni-pencil"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a id="<%=data.id_loi%>" onclick="alertDelete()"
                                                            class="btn btn-icon btn-outline-danger btn-round">
                                                            <i class="lni lni-close"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/_updatecapaian/<%=data.id_detail_kat_ppi%>/<%=data.ppi%>/<%=data.id_katppi%>/<%=data.rincian%>/<%=data.satuan%>"
                                                            class="btn btn-icon btn-outline-danger btn-round">
                                                            <i class="lni lni-arrow-right"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% i++; }) %>
                                                <% } else { %>
                                                <tr>
                                                    <td colspan="6">Belum ada rincian</td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/_adminfooter'); %>
        </div>
    </div>
    <%- include('./partials/_deleteConfirm'); %>
    <!-- end app -->
    <script>
        function OkeDelete() {
            if (input.value != 'ppi compact' || input.value === '') {
                wrong.style.display = 'block'
            } else {
                window.location = '/auth/deleteLoi/' + sn
            }
        }

        let table = document.getElementById('LoiTable')

        for (let a = 1; a < table.rows.length; a++) {
            let c = table.rows[a].cells[3]
            let selector = c.querySelector('input').value
            let inp = document.getElementById('tdList')

            if (selector == 1) {
                c.innerHTML = '<a id="status" class="dot"></a><span>Approve</span>'
            } else {
                c.innerHTML = '<a id="status" class="dot bg-danger"></a><span>Hide</span>'
            }
        }
    </script>
</body>


</html>