<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_adminheaderlink'); %>
    <!-- vendor css -->
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
        integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
        crossorigin=""></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/assets/js/leaflet.ajax.js"></script>

</head>


<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin app-header -->
            <%- include('./partials/_adminheader'); %>
            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-nabar -->
                <%- include('./partials/_adminnav'); %>
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html">
                                                        <i class="ti ti-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Forms
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">
                                                    Styling SHP</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Original Style</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id=""
                                                class="table display responsive nowrap table-light table-bordered">
                                                <tbody class="thead-light">
                                                    <tr>
                                                        <th>Properties</th>
                                                        <th>Label</th>
                                                        <th>Warna</th>
                                                    </tr>
                                                    <% if(styleshp.length!=0){
                                                        let i=1;
                                                        styleshp.forEach(function(data){ %>
                                                    <tr>
                                                        <td><%= data.prop_shp %></td>
                                                        <td><input type="text" name="new_label"
                                                                value="<%= data.label_style %>" disabled>
                                                        </td>
                                                        <td>
                                                            <input type="color" name="new_color"
                                                                value="<%= data.color_prop %>" disabled>
                                                        </td>
                                                    </tr>
                                                    <% i++; }) %>
                                                    <% } else { %>
                                                    <tr>
                                                        <td colspan="6">Belum ada style</td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Update Style</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="tableedit"
                                                class="table display responsive nowrap table-light table-bordered">
                                                <tbody class="thead-light">
                                                    <tr>
                                                        <th>Properties</th>
                                                        <th>Label</th>
                                                        <th>Warna</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                    <% if(styleshp.length!=0){
                                                        let i=1;
                                                        styleshp.forEach(function(data){ %>
                                                    <tr>
                                                        <td><%= data.prop_shp %></td>
                                                        <td><input type="text" name="new_label"
                                                                value="<%= data.label_style %>" disabled>
                                                        </td>
                                                        <td>
                                                            <input type="color" name="new_color"
                                                                value="<%= data.color_prop %>" disabled>
                                                        </td>
                                                        <td>
                                                            <button type="button" id="<%= i %>" class="btn btn-danger"
                                                                style="font-size:10px;" onclick="OpenEdit(this)"> <i
                                                                    class="lni lni-pencil"></i>
                                                                Edit
                                                            </button>
                                                        </td>
                                                        <td><input type="hidden" value="<%= data.id_style %>" disabled>
                                                        </td>
                                                    </tr>
                                                    <% i++; }) %>
                                                    <% } else { %>
                                                    <tr>
                                                        <td colspan="6">Belum ada style</td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <button type="button" id="editstyle" class="btn btn-primary"
                                                onclick="SubmitEditStyle()">
                                                Submit Edit <i class="lni lni-arrow-right"></i>
                                            </button>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="az-content-body">
                                <div id="map" style="height: 800px;width:500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/_adminfooter'); %>
        </div>
    </div>

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <!-- <script src="assets/js/main.js"></script> -->
    <script src="assets/js/additional.js"></script>

    <script src="assets/js/addjson.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        let table = document.getElementById('tableedit')

        function OpenEdit(elem) {
            for (let i = 1; i < table.rows.length; i++) {
                let x = table.rows[i].cells[3]
                let selector = x.querySelector("button")
                switch (elem.getAttribute('id')) {
                    case selector.getAttribute('id'):
                        let label = table.rows[i].cells[1]
                        let warna = table.rows[i].cells[2]
                        label.querySelector("input").disabled = false
                        warna.querySelector("input").disabled = false
                        break;
                }
            }
        }

        function SubmitEditStyle() {
            let table = document.getElementById('tableedit')
            let editStyleArr = []

            for (let i = 1; i < table.rows.length; i++) {
                let label = table.rows[i].cells[1]
                let warna = table.rows[i].cells[2]
                let id_style = table.rows[i].cells[4]

                let labelVal = label.querySelector("input").value
                let warnaVal = warna.querySelector("input").value
                let idUpdate = id_style.querySelector("input").value
                editStyleArr.push([idUpdate, warnaVal, labelVal])
            }

            $.ajax({
                url: '/auth/editstyle/<%=detailShp.id_shp%>',
                method: 'POST',
                data: {
                    val: editStyleArr
                },
                success: function (res) {
                    alert('Style sukses diedit!')
                    window.location = '/auth/editstyle/<%=detailShp.id_shp%>'

                },
                error: function (res) {
                    alert('Ada yang tidak beres')
                }
            });
        }
    </script>
</body>

</html>