<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_adminheaderlink'); %>
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <%- include('./partials/_adminheader'); %>
            <div class="app-container">
                <%- include('./partials/_adminnav'); %>
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Clients</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Pages
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">
                                                    Clients</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-statistics clients-contant">
                                    <div class="card-body py-0 table-responsive">
                                        <table id="LoiTable" class="table clients-contant-table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Funding</th>
                                                    <th scope="col">Judul Project</th>
                                                    <th scope="col">Start</th>
                                                    <th scope="col">End</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Edit </th>
                                                    <th scope="col">Delete </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(listproject.length!=0){
                                                 let i=1;
                                                 listproject.forEach(function(data){ %>
                                                <tr>
                                                    <td>
                                                        <%=data.id_project %>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <div class="bg-img mr-4">
                                                                <img src="assets/img/avtar/01.jpg" class="img-fluid"
                                                                    alt="Clients-01">
                                                            </div> -->
                                                            <p class="font-weight-bold" style="margin:0px">
                                                                <%=data.funding %>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <%=data.judul_project %>
                                                    </td>
                                                    <td>
                                                        <%=data.start_project %>
                                                    </td>
                                                    <td>
                                                        <%=data.end_project %>
                                                    </td>
                                                    <td id="tdList">
                                                        <input name="status" type="number"
                                                            value="<%=data.visibility %>">
                                                    </td>
                                                    <td>
                                                        <a href="/auth/editproject/<%=data.id_project%>"
                                                            class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 ">
                                                            <i class=" lni lni-pencil"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a id="<%=data.id_project%>" onclick="alertDelete(this)"
                                                            class="btn btn-icon btn-outline-danger btn-round">
                                                            <i class="lni lni-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% i++; }) %>
                                                <% } else { %>
                                                <tr>
                                                    <td colspan="6">Belum ada applyers</td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/_adminfooter'); %>
        </div>
    </div>
    <%- include('./partials/_deleteConfirm'); %>
    <!-- end app -->
    <script>
        let sn1 = ''
        let table = document.getElementById('LoiTable')

        function alertDelete(elem) {
            for (let i = 1; i < table.rows.length; i++) {
                let x = table.rows[i].cells[7]
                let selector = x.querySelector("td a")
                switch (elem.getAttribute('id')) {
                    case selector.getAttribute('id'):
                        sn1 = selector.getAttribute('id')
                        modal.style.display = 'block'
                        break;
                }
            }
        }

        function closeModal() {
            modal.style.display = 'none'
        }

        function OkeDelete() {
            if (input.value != 'ppi compact' || input.value === '') {
                wrong.style.display = 'block'
            } else {
                window.location = '/auth/deleteProject/' + sn1
            }
        }

        for (let a = 1; a < table.rows.length; a++) {
            let c = table.rows[a].cells[5]
            let selector = c.querySelector('input').value
            console.log(selector)
            let inp = document.getElementById('tdList')

            if (selector == 1) {
                c.innerHTML = '<a id="status" class="dot"></a><span>Visible</span>'
            } else {
                c.innerHTML = '<a id="status" class="dot bg-danger"></a><span>Hidden</span>'
            }
        }
    </script>
</body>


</html>